USE [master]
GO
/****** Object:  Database [Test]    Script Date: 5/28/2026 10:05:59 PM ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Test_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[ChangeLog]    Script Date: 5/28/2026 10:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeLog](
	[ChangeLogId] [int] IDENTITY(1,1) NOT NULL,
	[ChangedTable] [nvarchar](50) NOT NULL,
	[ChangedTablePrimaryId] [int] NOT NULL,
	[FieldAffected] [nvarchar](50) NOT NULL,
	[OldValue] [nvarchar](500) NOT NULL,
	[NewValue] [nvarchar](500) NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ChangeUserId] [int] NOT NULL,
	[ChangeTypeId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 5/28/2026 10:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[ErrorLogId] [int] IDENTITY(1,1) NOT NULL,
	[Source] [nvarchar](100) NOT NULL,
	[TargetSite] [nvarchar](100) NOT NULL,
	[Message] [nvarchar](300) NOT NULL,
	[ErrorDateTime] [datetime] NOT NULL,
	[UserId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 5/28/2026 10:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[GroupTypeId] [int] NOT NULL,
	[GroupDescription] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Individual]    Script Date: 5/28/2026 10:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Individual](
	[IndividualId] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[IndividualTypeId] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[SexId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[PhoneNumberId] [int] NOT NULL,
	[IndividualDescription] [nvarchar](500) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[StatusId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndividualLocation]    Script Date: 5/28/2026 10:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndividualLocation](
	[IndividualLocationId] [int] IDENTITY(1,1) NOT NULL,
	[IndividualId] [int] NOT NULL,
	[LocationId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndividualPhoneNumber]    Script Date: 5/28/2026 10:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndividualPhoneNumber](
	[IndividualPhoneNumberId] [int] IDENTITY(1,1) NOT NULL,
	[IndividualId] [int] NOT NULL,
	[PhoneNumberId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IndividualType]    Script Date: 5/28/2026 10:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndividualType](
	[IndividualTypeId] [int] IDENTITY(1,1) NOT NULL,
	[IndividualTypeName] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 5/28/2026 10:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](20) NOT NULL,
	[State] [nvarchar](15) NOT NULL,
	[Zip] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneNumber]    Script Date: 5/28/2026 10:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneNumber](
	[PhoneNumberId] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNumberValue] [nvarchar](15) NOT NULL,
	[PhoneNumberTypeId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChangeLog] ADD  CONSTRAINT [DF_ChangeLog_ChangeTypeId]  DEFAULT ((0)) FOR [ChangeTypeId]
GO
ALTER TABLE [dbo].[IndividualType] ADD  CONSTRAINT [DF_IndividualType_Active]  DEFAULT ((1)) FOR [Active]
GO
USE [master]
GO
