/* Make sure appsettings.json has Test in the DefaultConnection database to use this database */
USE [master]
GO
/****** Object:  Database [Test]    Script Date: 12/27/2025 3:41:37 PM ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Test_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[ChangeLog]    Script Date: 12/27/2025 3:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeLog](
	[ChangeLogId] [int] IDENTITY(1,1) NOT NULL,
	[ChangedTable] [nvarchar](50) NOT NULL,
	[ChangedTablePrimaryId] [int] NOT NULL,
	[FieldAffected] [nvarchar](50) NOT NULL,
	[OldValue] [nvarchar](500) NOT NULL,
	[NewValue] [nvarchar](500) NOT NULL,
	[ChangeDateTime] [datetime] NOT NULL,
	[ChangeUserId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Family]    Script Date: 12/27/2025 3:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Family](
	[FamilyId] [int] IDENTITY(1,1) NOT NULL,
	[FamilyName] [nvarchar](50) NOT NULL,
	[FamilyDescription] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Individual]    Script Date: 12/27/2025 3:41:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Individual](
	[IndividualId] [int] IDENTITY(1,1) NOT NULL,
	[FamilyId] [int] NOT NULL,
	[IndividualTypeId] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[SexId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[PhoneNumberId] [int] NOT NULL,
	[IndividualDescription] [nvarchar](500) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[StatusId] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
